.tabcon .label_content {
  width: 100%;
  //border-bottom: 1px #e5ebf4 solid;
  margin-bottom: 10px;
}
.tabcon .label_content .table_tr {
  margin-bottom: 10px;
}
.tabcon .label_content .table_tr .td_name {
  width: 100px; 
  text-align: right;
  vertical-align: top;
  padding: 6px 8px 6px 8px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 30px;
  font-family: "Helvtical", "microsoft yahei", sans-serif;
  font-size: 14px;
}
.tabcon .label_content .table_tr .td_val {
  display: inline-block;
  padding: 10px 0;
  font-size:14px;
}
.tabcon .label_content .table_tr .td_sel{
  text-align: left;
  box-sizing: border-box;
  line-height: 30px;

  display: inline-block;
  padding: 0 !important;
  font-size:14px;
}
.tabcon .label_content .table_tr .td_range{
  display:inline-block;
  width:59%;
  margin-top: 13px;
  font-size:14px;
}
.tabcon .label_content .table_tr .td_val .select_wrap_s {
  height: 32px;
  border: 1px #e5ebf4 solid;
  border-radius: 2px;
  line-height: 32px;
  position: relative;
  width: 340px;
}
.tabcon .label_content .table_tr .td_val .select_wrap_s .select_two {
  height: 32px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.tabcon .label_content .table_tr .td_val .select_wrap_s .select_two .chosen-container {
  height: 100%;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.tabcon .label_content .table_tr .td_val .select_wrap_s .select_two .chosen-container.chosen-container-single .chosen-single {
  padding: 6px 16px 6px 8px;
  border: 1px solid transparent;
  line-height: 18px;
  background: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 100%;
}
.tabcon .label_content .table_tr .td_val .select_wrap_s .select_two .chosen-container.chosen-container-single .chosen-single div {
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 10px;
  height: 5px;
}
.tabcon .label_content .table_tr .td_val .select_wrap_s .select_two .chosen-container.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../assets/image/select_down.png) center no-repeat;
}
.tabcon .label_content .table_tr .td_val .select_wrap_s .select_two .chosen-container.chosen-container-single .chosen-drop {
  border: 1px solid #4370bd;
  border-top: 0;
  margin-top: 1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.tabcon .label_content .table_tr .td_val .select_wrap_s .select_two .chosen-container.chosen-container-active.chosen-with-drop .chosen-single div b {
  margin-top: -1px;
  background: url("../../assets/image/select_up.png") center no-repeat;
}
.tabcon .label_content .table_tr .td_val .select_wrap_s .select_two .chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  padding: 0;
  max-height: 130px;
}

.text_input {
  width: 300px !important;
  border: 1px #d4dff3 solid;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  text-indent: 8px;
  outline: none;
}
.text_input:focus {
  border: 1px #1178c6 solid;
}

.text_area{
  width: 554px;
  border: 1px #e5ebf4 solid;
  border-radius: 2px;
  min-height: 100px;
  line-height: 25px;
  text-indent: 8px;
  outline: none;
}

.text_select{
  width: 100%;
  border: 1px #e5ebf4 solid;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  text-indent: 8px;
  outline: none;
}


.itcloud-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.itcloud-table th {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  border: 1px solid #e4e4e4;
  text-align: center;
  background: #f5f5f5;
  font-size: 14px;
  font-weight: bold;
}
.itcloud-table th.th-checkbox {
  width: 44px;
}
.itcloud-table td {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 44px;
  border: 1px solid #e4e4e4;
  text-align: center;
  background: #ffffff;
} 
.itcloud-table .filter-menu-icon .filter-menu {
  position: relative;
}
.itcloud-table .filter-menu-icon .filter-menu ul {
  position: absolute;
  top: 20px;
  width: 120px;
  border: 1px solid #e4e4e4;
}
.itcloud-table .filter-menu-icon .filter-menu li {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ffffff;
}
.itcloud-table .filter-menu-icon .filter-menu li:hover {
  background: #eeeeee;
  cursor: pointer;
}
.itcloud-table .filter-menu-icon .filter-menu li .checkbox-wraper {
  float: left;
  position: relative;
  top: -5px;
  padding-left: 10px;
} 
.itcloud-table .more-menu-icon .more-menu {
  position: relative;
}
.itcloud-table .more-menu-icon .more-menu ul {
  display: none;
  position: absolute;
  top: 20px;
  width: 120px;
  border: 1px solid #e4e4e4;
}
.itcloud-table .more-menu-icon .more-menu li {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ffffff;
}
.itcloud-table .more-menu-icon .more-menu li:hover {
  background: #eeeeee;
  cursor: pointer;
}
.itcloud-table .more-menu-icon .more-menu li .checkbox-wraper {
  float: left;
  position: relative;
  top: -5px;
  padding-left: 10px;
}