
$width = 1260px

/*------------------   color   ------------------*/

$color = #007AFF
$borderColor = #ccc
$cancelColor = #808080
$lineColor = #e4e4e4
//$fontColor = #c0ccda
$testColor = #007fff